* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#contents {
  background: url("1.jpg") no-repeat;
  background-size: cover;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}
h1 {
  font-size: 120px;
  text-shadow: 2px 3px 0 #000;
  color: white;
  position: absolute;
  left: 100px;
  top: 100px;
}
